.main-template{
    display:  flex;
    gap: 30px;
    position: relative;
}
.template{
    width: 70%;
    height: 100vh;
    transform: translateX(217px);
}

.sideBar{
    border: 2px solid var(--primary);
    color: white;
    padding: 20px;
    background-color: var(--sidebar);
    overflow: auto;
    position: fixed;
    height: 70vh;
}

.sideBar ul li{
    list-style: none;
}
.sideBar ul li a{
    text-decoration: none;
    color: white;
    line-height: 37px;
}
.content{
    height: 1350px;
}
.content ul li:hover{
    background-color:#bcaaf740;
    transition: 0.5s ease-in;
}

.scroll2::-webkit-scrollbar {
    width: 5px;
    height: 20%;
  }
   
  .scroll2::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 50px;
  }

 